body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.top-navigator{
    overflow: hidden;
    background-color: #e5e5e5;
    
}
.nav-link {
    float: right;
    color: #045fa6;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px;
    /* margin-bottom: 20px; */
  }

#nav-link{
      margin-right: 50px;
  }
  .logo{
    margin-top: 10px;
    margin-left: 140px;
}
/* hover: reacts with the mouse pointer */
.nav-link:hover {
    background-color:#045fa6;
    color: rgb(255, 255, 255);
}
  
h1{
    font-family: 'Yeseva one', cursive;
    font-size: 50px;
    width: 90%;
    border-left: 4px solid #2ed6f3;
    border-radius: 2px;
    height:110px;
    padding-left: 20px;
    color: #045fa6;
}
.landing img{
    width: 85%;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #045fa6;
}

.text-highlight{
    color: #F16142;
}
.landing{
    width: 40%;
    float: left;
    margin-left: 6.5%;
    padding-left: 2%;
    /* margin: 5%; */
    /* text-align: justify;
  text-justify: inter-word; */
}

/* Resizes the landing image */
.landing img{
    width: 80%;
    float: right;
    margin-bottom: 10px;
    padding-right: 100px;
    
}
.first-section{
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
     padding: 20px 0px 0px 0px; 
    background-color:#e5e5e5;
    align-items: flex-end;
    /* margin-top: 40px; */
}
.button{
    background-color: #045fa6;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    justify-content: center;
    /* align-items: center; */
}
/* Designing 2nd part */
.second-section{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 50px 10px;
    margin-bottom:10px;
}
.second-section-header{
    margin: 20px;
    padding: 10px 10px 20px 10px;
    text-align: center;
}
#box-1{
    background-color: #edf5f6;
}
#box-2{
    background-color: #fff4d6;
}
#box-3{
    background-color: #fce0fc
}
.boxes{
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 15px 0px;
    border: none;
    border-radius: 20px;
}
.boxes img{
    width: 80%;
}
.boxes p{
    text-align: justify;
    width: 90%;
    /* padding-bottom: 10px; */
}
.second-section-boxes{
    display: flex;
    width: 85%;
    justify-content: space-around;
    align-items: center;
}
/* designing third section */
.third-image img{
    width: 75%;
    border-radius: 5%;
    margin: -25px;
    float:left;
}
.third-image{
    width: 40%;
    align-items: center;
}
.third-section{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-image: url(images/pattern.png);
    background-size:500px;
    background-repeat: no-repeat;
    background-position: left;
}
.third-texts h2{
    font-size: 30px;
    /* margin-top: 100px; */

}
.third-texts{
    width: 40%;
    /* margin-top: -50px; */
    /* padding-bottom: 30px; */
    float: right;
    margin-left: -70px;
}
/* coding the 4th section */
.fourth-section{
    margin-top: 20px;
    padding-top: 20px;
}
.fourth-image{
    width: 35%;
    float: right;
}
.fourth-image img{
    width: 85%;
    border-radius: 10px;
}
.fourth-texts{
    width: 50%;
    margin-left: 150px;
    padding-right: 20px;
}
.fourth-texts h2{
    font-size: 30px;

}
input[type=text], textarea {
    width: 95%;
  padding: 12px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-sizing:content-box;
  margin-bottom: 15px;
}
.contact-form{
  background-color: #f2f2f2;
  padding: 50px;
  height: 700px;
  
}
.form{
    width: 40%;
    float:right;
    padding-right: 50px;
}
.contact-image{
    width: 50%;
    float: left;
}
.contact-image img{
    width: 60%;
    float: right;
    padding-top: 95px;
    padding-right: 70px;
}
#contact{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 600;
    height: 40px;
}
#contact-form{
    margin-top: 50px;
}
footer h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    color: #045fa6;
    height: 1px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0B0D17;
    color: #fff;
}
footer p{
    text-align:justify;
    font-size:small;
}